body {
  margin: 20px;
}

.flex-vert {
    display: flex;
    flex-direction: column;
}

.flex-vert > * {
    flex-grow: 1;
}

section.radio + section.radio {
    margin-bottom: 1em;
}

section.radio label {
    margin-left: 1em;
}

h2.radio {
    margin-bottom: 0.25em;
    font-size: 1.125em;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #202023;
        color: white;
    }
}